
.flex-form{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.margin-input{
    margin-top:6px;
}
.text-lms{
    font-weight: 900;
    margin:0px;
}
.logo-login{
    max-width:198px; height:auto;
}
.footer-powerby{
    position:absolute; 
    bottom:0;
    left:0;
    margin: 0.5em;
}
.btn-login{
    margin-top:40px;
}
.login-input{
    margin-left: 0.6em;
    margin-bottom: -8px;
    color: #3B3B3B;
}
.text-login{
    margin: 16px;
    font-weight: 900;
    width: 308px;
    height: 82px;
    font-size: 30px;
    text-align: center;
    color: #343434;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.login-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}