<template>
    <div class="login-page">
        <b-img :src="logo" fluid class="logo-login"/>
        <div class="text-login">
            Sistem Penilaian SMA Permai Jakarta
        </div>
        <b-form @submit.prevent="logItIn" class="flex-form">
            <div>
                <label for="input-email"><p class="login-input"><b>Username</b></p></label><br>
                <input-login id="input-email" v-model="login.Username"></input-login>
            </div>
            <div class="margin-input">
                <label for="input-password"><p class="login-input"><b>Password</b></p></label><br>
                <input-login id="input-password" type="password" v-model="login.password"></input-login>
            </div>
            <div></div>
        <btn-login label="Masuk" class="btn-login" @click='logItIn'></btn-login>
        </b-form>
        <div class="footer-powerby">
            <p class="text-lms">LEARNING MANAGEMENT SYSTEM</p>
            <p class="margin-0">Powered by &nbsp;<span class="color-light-blue">Binus Computer Club</span></p>
        </div>
    </div>
</template>
<script>
import logo from '@/assets/logo-sekolah.png'
import InputLogin from '@/components/InputLogin/InputLogin'
import ButtonLogin from '@/components/ButtonLogin/ButtonLogin'
export default {
  name: 'login-page',
  data () {
    return {
      logo: logo,
      login: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    logItIn () {
      this.axios.post('http://localhost:8000/api/auth/login', this.login)
        .then(response => {
          let token = response.data.access_token
          localStorage.setItem('token', token)
          // this.$router.push('/Dashboard/home')
          console.log(token)
        }).catch(function (error) {
          console.log(error)
        })
    }
  },
  components: {
    'input-login': InputLogin,
    'btn-login': ButtonLogin
  }
}
</script>
<style>
@import './login.css'
</style>
