
.btn-login{
    transition: all ease-in-out 300ms;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
    width: 138px;
    height: 56px;
    border-radius:56px;
    border:none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background-color:#33ACF3;
}
.btn-login:hover{
    background-color:#0c2431;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.4);
    transform: translate(0px, -5px);
}
.btn-login:focus{
    outline: none;
}