<template>
    <button class="btn-login">{{label}}</button>
</template>
<script>
export default {
  name: 'btn-login',
  props: {
    label: {
      type: String,
      default: ''
    }
  }
}
</script>
<style>
@import './ButtonLogin.css'
</style>
