<template>
    <input type="text" class="input-login-field" :placeholder="text" required>
</template>
<script>
export default {
  name: 'input-login',
  props: {
    text: {
      type: String,
      default: ''
    }
  }
}
</script>
<style>
@import './InputLogin.css'
</style>
