
.input-login-field{
    width: 266px;
    height: 50px;
    padding-left: 16px;
    border-radius: 50PX;
    font-size: 15px;
    border: 1px solid #BFBFBF;
    outline: none;
}
.input-login-field:focus{
    outline: none;
}