<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <input-login></input-login>
  </div>
</template>

<script>
import ButtonHeader from '@/components/ButtonHeader/ButtonHeader.vue'
import InputLogin from '@/components/InputLogin/InputLogin.vue'
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'playground'
    }
  },
  components: {
    'btn-header': ButtonHeader,
    'input-login': InputLogin
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
