<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import ButtonHeader from '@/components/ButtonHeader/ButtonHeader.vue'

export default {
  name: 'App',
  components: {
    'btn-header': ButtonHeader
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
