<template>
    <router-link tag="button" class="btn-rounded-Header" :to="name">
        <i :class="icon"></i>
    </router-link>
</template>
<script>

export default {
  name: 'btn-header',
  props: {
    icon: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    }
  }
}

</script>
<style>
@import './ButtonHeader.css'
</style>
