
.btn-rounded-Header{
    border: solid 1px black;
    font-size: 130%;
    background-color: white;
    color: black;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    outline: none;
    transition: all ease-in-out 300ms;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
    cursor: pointer;
    margin-right: 20px;
}
.btn-rounded-Header:hover{
    box-shadow: 0px 8px 10px rgba(0,0,0,0.4);
    transform: translate(0px, -5px) scale(1.2)
}
.btn-rounded-Header:focus{
    outline: none;
}
.active{
    color: #33ACF3;
    border: solid 1px #33ACF3;
    outline: none;
}